{
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": false,
				"loose": true,
				"useBuiltIns": "usage",
				"corejs": "3",
				"targets": {
					"browsers": [">0.25%", "not ie 11", "not op_mini all"]
				}
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-syntax-class-properties",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-syntax-dynamic-import",
		[
			"babel-plugin-styled-components",
			{
				"displayName": false,
				"minify": true
			}
		],
		"lodash"
	]
}
